

<div id="ft">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 col-lg-4 ft_logo_in">
        <div class="ft_logo_img">
          <img src="{{ sample_media_dir }}test_logo.png" alt="">
        </div>
      </div>

      <div class="col-12 col-lg-8 mt-4">
        <span>통신판매업신고번호 : 2021-경기부천-1758</span>
        <span>개인정보 책임자 : 김예훈</span>
        <span>대표 : 박창용</span>
        <span>회사명 : 피크</span>
        <span>주소 : 경기도 부천시 성주로 86-4 104동 901호</span>
        <span>사업자번호 : 717-14-00314</span>
        <span>전화 : 010-2323-9586</span>
      </div>
    </div>
  </div>
</div>

</body>
